<!doctype html>
<html>

<head>
	<title>peter</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
		integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/htmx.org@1.9.3/dist/htmx.min.js"></script>
</head>

<body>
	<h1>test</h1>
	It is now approx: <span id="disp">{{ .a }}</span>!
	<form>
		<button hx-get="/foo" hx-swap="innerHTML" hx-target="#disp" type="button" class="pure-button">hi, press
			me!</button>
	</form>
	{{template "partial" .}}
</body>

</html>